<html lang="en">

<head>
    <meta charset="utf-8">
    <!-- Facebook Pixel Code -->
    <script>
        event();

        function event() {
            ! function (f, b, e, v, n, t, s) {
                if (f.fbq) return;
                n = f.fbq = function () {
                    n.callMethod ?
                        n.callMethod.apply(n, arguments) : n.queue.push(arguments)
                };
                if (!f._fbq) f._fbq = n;
                n.push = n;
                n.loaded = !0;
                n.version = '2.0';
                n.queue = [];
                t = b.createElement(e);
                t.async = !0;
                t.src = v;
                s = b.getElementsByTagName(e)[0];
                s.parentNode.insertBefore(t, s)
            }(window, document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');

            const pixelID = <%=pixel_id%>;
            
            if (pixelID != null) {
                fbq('init', pixelID);

                fbq('track', 'PageView');

                window.location.href = "tg://telegram.me/<%=bot_username%>?start=<%=token%>";
            }
        }

        // <noscript>
        //     <img height="1" width="1" style="display:none"src="https://www.facebook.com/tr?id=<%=pixel_id%>&amp;ev=PageView&amp;noscript=1"/>
        // </noscript>
    </script>
</head>

<body>

</body>

</html>