<!doctype html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#4188c9">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <link rel="icon" href="dist/img/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" type="image/x-icon" href="dist/img/favicon.ico" />
    <!-- Generated: 2018-04-16 09:29:05 +0200 -->
    <title>DuuDeeSport AS</title>

    <link rel="stylesheet" href="dist/css/fakeLoader.css">
    <link rel="stylesheet" href="dist/css/solid.min.css">
    <link rel="stylesheet" href="dist/css/fontawesome.min.css">
    <link rel="stylesheet" href="dist/css/fonts-googleapis.css">

    <link rel="stylesheet" href="dist/css/dataTables.bootstrap4.css" />
    <link rel="stylesheet" href="dist/css/datatables.css" />
    <link rel="stylesheet" href="dist/css/notie.css" />
    <link rel="stylesheet" href="dist/css/dashboard.css" />
    <link rel="stylesheet" href="dist/css/bootstrap-colorpicker.min.css" />
</head>

<body>
    <div id="fakeLoader">
        <!-- MUTLI SPINNER -->
        <div>
            <div class="lds-ripple">
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
    <div id="app" class="page">
        <div class="page-main">
            <div id="header-box" class="header py-4">
                <!--header-box.html-->
            </div>
            <div id="headerMenuCollapse" class="header collapse d-lg-flex p-0">
                <!--id="headerMenuCollapse"-->
                <!--menu-box.html-->
            </div>
            <div class="my-3 my-md-5">
                <div class="container">
                    <div class="page-header">
                        <h1 class="page-title">
                            {{lang.channels.managment}}
                        </h1>
                    </div>
                    <div class="row j-channels">
                        <div class="col-12 col-md-12 j-reff-channel-statistic collapse">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">
                                        {{lang.channels.table.title}}
                                    </h3>
                                    <div class="card-options">
                                        <button class="btn btn-outline-primary btn-sm j-hide-statistic">
                                            <i class="fe fe-arrow-left mr-2"></i>{{lang.back}}
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body padding0">
                                    <div class="dimmer table-responsive">
                                        <table id="reff-channel-statistic"
                                            class="table table-outline table-vcenter text-nowrap card-table text-center">
                                            <thead>
                                                <tr>
                                                    <th class="w-1">{{lang.numberIcon}}</th>
                                                    <th>{{lang.channels.table.name}}</th>
                                                    <th>{{lang.channels.table.state}}</th>
                                                    <th>{{lang.channels.table.isFree}}</th>
                                                    <th>{{lang.channels.table.price}}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="j-tr collapse">
                                                    <td>
                                                        <span class="j-id"></span>
                                                    </td>
                                                    <td>
                                                        <span class="j-color"></span>
                                                        <span class="j-name"></span>
                                                    </td>
                                                    <td>
                                                        <span class="j-state"></span>
                                                    </td>
                                                    <td>
                                                        <span class="j-is-free"></span>
                                                    </td>
                                                    <td>
                                                        <span class="j-price"></span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 j-reff-channel-statistic collapse">
                            <div class="card">
                                <div class="card-body" id="charts-stats">
                                    <canvas class="j-stats"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 j-reff-channel-statistic collapse">
                            <div class="card">
                                <div class="card-body">
                                    <table class="table card-table table-bordered text-center"
                                        id="table-channel-reff-links">
                                        <thead>
                                            <tr>
                                                <th>{{lang.numberIcon}}</th>
                                                <th class="text-left" style="background:#fff" width="25%">
                                                    {{lang.channels.stats.table.reffLink}}</th>
                                                <th>{{lang.channels.stats.table.doneSubscribes}}</th>
                                                <th>{{lang.channels.stats.table.returnedSubscribes}}</th>
                                                <th>{{lang.channels.stats.table.errorSubscribes}}</th>
                                                <th>{{lang.channels.stats.table.stopSubscribes}}</th>
                                                <th>{{lang.channels.stats.table.uniqueTracksUsers}}</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 j-channel-list">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">
                                            {{lang.channels.table.title}}
                                            <button class="icon icon-sm ml-1 j-refresh">
                                                <i class="fe fe-refresh-cw"></i>
                                            </button>
                                        </h3>
                                        <div class="card-options">
                                            <button class="btn btn-outline-primary btn-sm j-edit-add"
                                                data-toggle="modal" data-target="#add-channel">
                                                <i class="fe fe-plus mr-2"></i>{{lang.add}}
                                            </button>
                                        </div>
                                    </div>
                                    <div class="card-body padding0">
                                        <div class="dimmer table-responsive">
                                            <table id="table-channels"
                                                class="table table-outline table-vcenter text-nowrap card-table text-center"
                                                data-table="channels">
                                                <thead>
                                                    <tr>
                                                        <th class="w-1">{{lang.numberIcon}}</th>
                                                        <th>{{lang.channels.table.name}}</th>
                                                        <th>{{lang.channels.table.state}}</th>
                                                        <th>{{lang.channels.table.isFree}}</th>
                                                        <th>{{lang.channels.table.price}}</th>
                                                        <th>{{lang.options}}</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Add channel  -->
        <div id="add-edit-channel" class="modal fade" aria-labelledby="add-channel" style="z-index: 15;">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">{{lang.channels.modalCreate.add}}</h4>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form role="form">
                            <div class="form-group">
                                <label class="form-label">
                                    {{lang.channels.modalCreate.name}}
                                    <span class="form-required">*</span>
                                </label>
                                <input class="form-control j-channel-name" type="text">
                            </div>
                            <div class="form-group">
                                <label class="form-label">
                                    {{lang.channels.modalCreate.tlgId}}
                                    <span class="form-required">*</span>
                                </label>
                                <input class="form-control j-channel-tlg-id" data-inputmask="'mask':'9999999999'"
                                    type="text">
                            </div>
                            <div class="form-group">
                                <label class="form-label">
                                    {{lang.channels.modalCreate.type}}
                                    <span class="form-required">*</span>
                                </label>
                                <select class="form-control j-channel-type">
                                    <option value="FREE" checked>{{lang.channels.modalCreate.typeFree}}</option>
                                    <option value="PAYED">{{lang.channels.modalCreate.typePayed}}</option>
                                </select>
                            </div>
                            <div class="form-group collapse">
                                <label class="form-label">
                                    {{lang.channels.modalCreate.currency.title}}
                                    <span class="form-required">*</span>
                                </label>
                                <select class="form-control j-channel-currency">
                                    <option value="RUB">{{lang.channels.modalCreate.currency.rub}}</option>
                                    <option value="UAH">{{lang.channels.modalCreate.currency.uah}}</option>
                                    <option value="USD">{{lang.channels.modalCreate.currency.usd}}</option>
                                </select>
                            </div>
                            <div class="form-group collapse">
                                <label class="form-label">
                                    {{lang.channels.modalCreate.price}}
                                    <span class="form-required">*</span>
                                </label>
                                <input class="form-control j-channel-price" type="text" placeholder="">
                            </div>
                            <div class="form-group">
                                <label class="form-label">{{lang.channels.modalCreate.description}}</label>
                                <textarea rows="3" class="form-control j-channel-description"></textarea>
                            </div>
                            <div class="form-group">
                                <label class="form-label">{{lang.channels.modalCreate.color}}
                                </label>
                                <div class="input-group" name="color-channel" data-color-input>
                                    <span class="input-group-prepend">
                                        <span class="input-group-text colorpicker-input-addon">
                                            <i></i>
                                        </span>
                                    </span>
                                    <input type="text" class="form-control" value="rgb(220, 223, 226, 0.2)" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row gutters-xs" data-color-box="[name='color-channel']">
                                    <div class="col-auto">
                                        <label class="colorinput">
                                            <input name="color" type="radio" value="rgba(69, 170, 242, 0.2)"
                                                class="colorinput-input">
                                            <span class="colorinput-color bg-azure"></span>
                                        </label>
                                    </div>
                                    <div class="col-auto">
                                        <label class="colorinput">
                                            <input name="color" type="radio" value="rgba(101, 116, 205, 0.2)"
                                                class="colorinput-input">
                                            <span class="colorinput-color bg-indigo"></span>
                                        </label>
                                    </div>
                                    <div class="col-auto">
                                        <label class="colorinput">
                                            <input name="color" type="radio" value="rgba(165, 94, 234, 0.2)"
                                                class="colorinput-input">
                                            <span class="colorinput-color bg-purple"></span>
                                        </label>
                                    </div>
                                    <div class="col-auto">
                                        <label class="colorinput">
                                            <input name="color" type="radio" value="rgba(246, 109, 155, 0.2)"
                                                class="colorinput-input">
                                            <span class="colorinput-color bg-pink"></span>
                                        </label>
                                    </div>
                                    <div class="col-auto">
                                        <label class="colorinput">
                                            <input name="color" type="radio" value="rgba(205, 32, 31, 0.2)"
                                                class="colorinput-input">
                                            <span class="colorinput-color bg-red"></span>
                                        </label>
                                    </div>
                                    <div class="col-auto">
                                        <label class="colorinput">
                                            <input name="color" type="radio" value="rgba(253, 150, 68, 0.2)"
                                                class="colorinput-input">
                                            <span class="colorinput-color bg-orange"></span>
                                        </label>
                                    </div>
                                    <div class="col-auto">
                                        <label class="colorinput">
                                            <input name="color" type="radio" value="rgba(241, 196, 15, 0.2)"
                                                class="colorinput-input">
                                            <span class="colorinput-color bg-yellow"></span>
                                        </label>
                                    </div>
                                    <div class="col-auto">
                                        <label class="colorinput">
                                            <input name="color" type="radio" value="rgba(123, 210, 53, 0.2)"
                                                class="colorinput-input">
                                            <span class="colorinput-color bg-lime"></span>
                                        </label>
                                    </div>
                                    <div class="col-auto">
                                        <label class="colorinput">
                                            <input name="color" type="radio" value="rgba(94, 186, 0, 0.2)"
                                                class="colorinput-input">
                                            <span class="colorinput-color bg-green"></span>
                                        </label>
                                    </div>
                                    <div class="col-auto">
                                        <label class="colorinput">
                                            <input name="color" type="radio" value="rgba(133, 211, 202, 0.2)"
                                                class="colorinput-input">
                                            <span class="colorinput-color bg-teal"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    <label class="custom-control custom-checkbox custom-control-inline">
                                        <input class="custom-control-input" name="active-channel" type="checkbox">
                                        <span class="custom-control-label">
                                            {{lang.channels.modalCreate.activateChannel}}
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    <label class="custom-control custom-checkbox custom-control-inline">
                                        <input class="custom-control-input j-repeated" name="example-inline-checkbox1"
                                            type="checkbox">
                                        <span
                                            class="custom-control-label">{{lang.channels.modalCreate.dontCloseModal}}</span>
                                    </label>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn btn-primary j-add">
                            {{lang.add}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal Del channel -->
        <div id="modal-delete" class="modal fade" aria-labelledby="modal-delete" style="z-index: 15;">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">{{lang.del}}</h4>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div v-html="lang.channels.delete" class="text-break-word"></div>
                        <form role="form">
                            <div class="form-group">
                                <input class="form-control j-input-type" type="text">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn btn-gray j-btn-del" disabled>
                            {{lang.del}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <div class="row align-items-center flex-row-reverse">
                    <div class="col-auto ml-lg-auto">
                        <div class="row align-items-center">
                            <div class="col-auto">
                                <a class="header-brand" href="">
                                    <img src="dist/img/logo.svg" class="header-brand-img" alt="tabler logo">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-auto mt-3 mt-lg-0 text-center">
                        Copyright © 2019 Holly Molly
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <!-- My Plugins -->

    <script src="dist/js/jquery-3.3.1.min.js"></script>
    <script src="dist/js/jquery.cookie.js"></script>
    <script src="dist/js/vue.min.js"></script>
    <script src="dist/js/component/lang-service.js"></script>
    <script src="dist/js/jquery.dataTables.min.js"></script>
    <script src="dist/js/dataTables.bootstrap4.min.js"></script>
    <script src="dist/js/jquery.inputmask.bundle.min.js"></script>
    <script src="dist/js/component/create-url.js"></script>
    <script src="dist/js/component/main-function.js"></script>
    <script src="dist/js/buttonLoader.js"></script>
    <script src="dist/js/component/message.js"></script>
    <script src="dist/js/chart.min.js"></script>

    <script src="dist/js/bootstrap.bundle.min.js"></script>
    <script src="dist/js/bootstrap-colorpicker.min.js"></script>
    <script src="dist/js/notie.min.js"></script>
    <script src="dist/js/component/channels.js"></script>
    <script src="dist/js/component/load-headr.js"></script>

</body>

</html>