<!doctype html>
<html lang="ru">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#4188c9">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <link rel="icon" href="dist/img/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" type="image/x-icon" href="dist/img/favicon.ico" />
    <!-- Generated: 2018-04-16 09:29:05 +0200 -->
    <title>DuuDeeSport AS</title>

    <link rel="stylesheet" href="dist/css/fakeLoader.css">
    <link rel="stylesheet" href="dist/css/solid.min.css">
    <link rel="stylesheet" href="dist/css/fontawesome.min.css">
    <link rel="stylesheet" href="dist/css/fonts-googleapis.css">

    <link rel="stylesheet" href="dist/css/datatables.css" />
    <link rel="stylesheet" href="dist/css/notie.css" />
    <link rel="stylesheet" href="dist/css/dashboard.css" />
</head>

<body class="">
    <div id="fakeLoader">
        <!-- MUTLI SPINNER -->
        <div>
            <div class="lds-ripple">
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
    <div id="app" class="page">
        <div class="page-single">
            <div class="container">
                <div class="row">
                    <div class="col col-login mx-auto">
                        <div class="text-center mb-6">
                            <img src="dist/img/logo.svg" class="h-7" alt="">
                        </div>
                        <div class="card j-login-form">
                            <div class="card-body p-6">
                                <div class="card-title"> {{lang.loginPage.title}}
                                    <select id="j-lang-system" class="lang-select"></select>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">{{lang.loginPage.userName}}</label>
                                    <input type="text" name="login" class="form-control" id="exampleInputLogin"
                                    :placeholder="lang.loginPage.userName">
                                </div>
                                <div class="form-group">
                                    <label class="form-label">
                                        {{lang.loginPage.password}}
                                    </label>
                                    <input type="password" name="password" class="form-control" id="exampleInputPassword1"
                                        :placeholder="lang.loginPage.password">
                                </div>
                                <div class="form-group collapse j-two-factor-login">
                                    <label class="form-label">
                                        {{lang.loginPage.twoFactorCode}}
                                    </label>
                                    <input type="text" name="twoFactor" class="form-control">
                                </div>
                                <div class="form-footer">
                                    <button id="login-user" type="submit" class="btn btn-primary btn-block">
                                        {{lang.loginPage.signIn}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- My Plugins -->
    <script src="dist/js/jquery-3.3.1.min.js"></script>
    <script src="dist/js/jquery.cookie.js"></script>
    <script src="dist/js/vue.min.js"></script>
    <script src="dist/js/component/create-url.js"></script>
    <script src="dist/js/component/main-function.js"></script>
    <script src="dist/js/component/lang-service.js"></script>
    <script src="dist/js/notie.min.js"></script>
    <script src="dist/js/component/message.js"></script>
    <script src="dist/js/buttonLoader.js"></script>
    <script src="dist/js/component/login.js"></script>
    <script src="dist/js/component/load-headr.js"></script>
</body>

</html>