<!doctype html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#4188c9">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <link rel="icon" href="dist/img/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" type="image/x-icon" href="dist/img/favicon.ico" />
    <!-- Generated: 2018-04-16 09:29:05 +0200 -->
    <title>DuuDeeSport AS</title>

    <link rel="stylesheet" href="dist/css/fakeLoader.css">
    <link rel="stylesheet" href="dist/css/solid.min.css">
    <link rel="stylesheet" href="dist/css/fontawesome.min.css">
    <link rel="stylesheet" href="dist/css/fonts-googleapis.css">

    <link rel="stylesheet" href="dist/css/dataTables.bootstrap4.css" />
    <link rel="stylesheet" href="dist/css/datatables.css" />
    <link rel="stylesheet" href="dist/css/notie.css" />
    <link rel="stylesheet" href="dist/css/dashboard.css" />
</head>

<body>
    <div id="fakeLoader">
        <!-- MUTLI SPINNER -->
        <div>
            <div class="lds-ripple">
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
    <div id="app" class="page">
        <div class="page-main">
            <div id="header-box" class="header py-4">
                <!--header-box.html-->
            </div>
            <div id="headerMenuCollapse" class="header collapse d-lg-flex p-0">
                <!--id="headerMenuCollapse"-->
                <!--menu-box.html-->
            </div>
            <div class="my-3 my-md-5">
                <div class="container">
                    <div class="page-header">
                        <h1 class="page-title">
                            {{lang.order.management}}
                        </h1>
                    </div>
                    <div class="row j-orders-list">
                        <div class="col-12 col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">
                                        {{lang.order.filter.title}}
                                    </h3>
                                    <!-- <div class="card-options">
                                        <a href="#" class="card-options-collapse j-collapse-button"
                                            data-toggle="card-collapse">
                                            <i class="fe fe-chevron-up"></i>
                                        </a>
                                    </div> -->
                                </div>
                                <div class="card-body padding0 j-filter-box">
                                    <form class="my-4">
                                        <div class="form-row col-12 j-filter-orders">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="form-label">{{lang.order.filter.ordersSN}}</label>
                                                    <input type="text" class="form-control j-sn" value=""
                                                        disabled>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="form-label">{{lang.order.filter.ordersStatus}}</label>
                                                    <input type="text" class="form-control j-orders-statuses" value=""
                                                        disabled>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="form-label">{{lang.order.filter.depositStatus}}</label>
                                                    <input type="text" class="form-control j-deposit-statuses" value=""
                                                        disabled>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row col-12 j-is-include-orders">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="custom-switch">
                                                        <span class="form-label ">{{lang.order.filter.displayFreeChannelsOrders}}</span>
                                                        <input type="checkbox" name="is-include-free-orders"
                                                            class="custom-switch-input">
                                                        <span class="custom-switch-indicator ml-3"></span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="custom-switch">
                                                        <span class="form-label ">{{lang.order.filter.displayManuallyOnly}}</span>
                                                        <input type="checkbox" name="is-display-manual-only"
                                                            class="custom-switch-input">
                                                        <span class="custom-switch-indicator ml-3"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">
                                        {{lang.order.table.title}}
                                        <button class="icon icon-sm ml-1 j-refresh">
                                            <i class="fe fe-refresh-cw"></i>
                                        </button>
                                    </h3>
                                </div>
                                <div class="card-body padding0">
                                    <div class="dimmer table-responsive">
                                        <table id="table-orders"
                                            class="table table-outline table-vcenter text-nowrap card-table text-center">
                                            <thead>
                                                <tr>
                                                    <th class="w-1">{{lang.numberIcon}}</th>
                                                    <th>{{lang.order.table.channel}}</th>
                                                    <th>{{lang.order.table.orderStatus}}</th>
                                                    <th style="min-width:150px; max-width:150px;">{{lang.order.table.depositStatus}}</th>
                                                    <th>{{lang.order.table.user}}</th>
                                                    <th>{{lang.order.table.sn}}</th>
                                                    <th>{{lang.order.table.payMethod}}</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <div class="row align-items-center flex-row-reverse">
                    <div class="col-auto ml-lg-auto">
                        <div class="row align-items-center">
                            <div class="col-auto">
                                <a class="header-brand" href="">
                                    <img src="dist/img/logo.svg" class="header-brand-img" alt="tabler logo">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-auto mt-3 mt-lg-0 text-center">
                        Copyright © 2019 Holly Molly
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <!-- My Plugins -->

    <script src="dist/js/jquery-3.3.1.min.js"></script>
    <script src="dist/js/jquery.cookie.js"></script>
    <script src="dist/js/vue.min.js"></script>
    <script src="dist/js/component/lang-service.js"></script>
    <script src="dist/js/jquery.inputmask.bundle.min.js"></script>
    <script src="dist/js/moment-with-locales.min.js"></script>
    <script src="dist/js/jquery.dataTables.min.js"></script>
    <script src="dist/js/dataTables.bootstrap4.min.js"></script>
    <script src="dist/js/component/create-url.js"></script>
    <script src="dist/js/component/main-function.js"></script>
    <script src="dist/js/buttonLoader.js"></script>
    <script src="dist/js/component/message.js"></script>
    <script src="dist/js/selectize.min.js"></script>
    <script src="dist/js/component/selectize-function.js"></script>

    <script src="dist/js/bootstrap.bundle.min.js"></script>
    <script src="dist/js/notie.min.js"></script>
    <script src="dist/js/component/utc-time-zones.js"></script>
    <script src="dist/js/component/orders-managment.js"></script>
    <script src="dist/js/component/load-headr.js"></script>
</body>

</html>