<!doctype html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Language" content="en" />
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#4188c9">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <link rel="icon" href="dist/img/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" type="image/x-icon" href="dist/img/favicon.ico" />
    <!-- Generated: 2018-04-16 09:29:05 +0200 -->
    <title>DuuDeeSport AS</title>

    <link rel="stylesheet" href="dist/css/fakeLoader.css">
    <link rel="stylesheet" href="dist/css/solid.min.css">
    <link rel="stylesheet" href="dist/css/fontawesome.min.css">
    <link rel="stylesheet" href="dist/css/fonts-googleapis.css">

    <link rel="stylesheet" href="dist/css/datatables.css" />
    <link rel="stylesheet" href="dist/css/notie.css" />
    <link rel="stylesheet" href="dist/css/dashboard.css" />
</head>

<body>
    <div id="fakeLoader">
        <!-- MUTLI SPINNER -->
        <div>
            <div class="lds-ripple">
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
    <div id="app" class="page">
        <div class="page-main">
            <div id="header-box" class="header">
                <!--header-box.html-->
            </div>
            <div id="headerMenuCollapse" class="header collapse d-lg-flex p-0">
                <!--id="headerMenuCollapse"-->
                <!--menu-box.html-->
            </div>
            <div class="my-3 my-md-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 j-profile-info-box">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">{{lang.profile.myProfile}}</h3>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-auto j-avatar-row">
                                            <img class="avatar avatar-xl" src='dist/img/default-user-icon.jpg' name='avatar-img'
                                                onerror="this.src='dist/img/default-user-icon.jpg';" />
                                        </div>
                                        <div class="col">
                                            <div class="form-group">
                                                <div class="form-label">{{lang.profile.photo}}</div>
                                                <div class="custom-file">
                                                    <input type="file" class="custom-file-input" name="example-file-input-custom">
                                                    <label class="custom-file-label">{{lang.chooseFile}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">{{lang.profile.fullName}}</label>
                                        <input type="text" class="form-control" name="full-name" :placeholder="lang.profile.fullName">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">{{lang.profile.shortName}}</label>
                                        <input type="text" class="form-control" name="short-name" :placeholder="lang.profile.shortName">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">{{lang.profile.emailAddress}}</label>
                                        <input type="text" class="form-control" name="email" placeholder="your-email@domain.com">
                                    </div>
                                    <div class="form-group d-flex justify-content-between j-generate-two-factor-box">
                                        <label class="form-label" style="margin-bottom: 0; padding-top: 3px;">
                                            {{lang.profile.toActive}} <a href="lang.profile.linkForApp" target="_blank">2FAS</a>
                                        </label> 
                                        <button type="button" class="btn btn-sm btn-success j-generate-two-factor">
                                            <i class="fa fa-qrcode mr-2"></i>{{lang.profile.createQRCode}}
                                        </button>
                                    </div>
                                    <div class="row j-two-factor-switch-box collapse">
                                        <label class="col-md-10 form-label justify-content-start" v-html="lang.profile.twoFactorSwitch" style="margin-bottom: 0; padding-top: 3px;"></label>
                                        <label class="col-md-2 form-label custom-switch d-flex justify-content-end">
                                            <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input j-two-factor-switch"
                                                data-toggle="modal" data-target="#modal-two-factor">
                                            <span class="custom-switch-indicator"></span>
                                        </label>
                                    </div>
                                    <div class="form-footer">
                                        <button class="btn btn-primary btn-block j-change-info">{{lang.save}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 j-password-info">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">{{lang.profile.changePassword}}</h3>
                                </div>
                                <div class="card-body">
                                    <form class="j-user-password">
                                        <div class="form-group">
                                            <label class="form-label">{{lang.profile.currentPassword}}</label>
                                            <input type="password" class="form-control" name="current-password">
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label">{{lang.profile.newPassword}}</label>
                                            <input type="password" class="form-control" name="new-password">
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label">{{lang.profile.reenterPassword}}</label>
                                            <input type="password" class="form-control" name="reenter-password">
                                        </div>
                                        <div class="form-footer">
                                            <button class="btn btn-primary btn-block j-change-password">{{lang.save}}</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal two factor drop -->
                    <div id="modal-two-factor" class="modal fade" tabindex="-1" role="dialog"
                        aria-labelledby="generateQrcodeTwoFactor" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-sm">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">{{lang.profile.twoFactorCode}}</h4>
                                    <button type="button" data-dismiss="modal" aria-label="Close" class="close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="form">
                                        <form class="d-flex justify-content-center" role="form">
                                            <input type="text" class="form-control" name="two-factor-code" :placeholder="lang.profile.codeFromApp" autocomplete="off">
                                        </form>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn btn-primary j-two-factor-submit">
                                        {{lang.profile.confirm}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal -->
                    <div id="modal-qrcode-two-factor" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog"
                        aria-labelledby="generateQrcodeTwoFactor" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-sm">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">{{lang.profile.QRcodeFor2FAS}}</h4>
                                    <button type="button" data-dismiss="modal" aria-label="Close" class="close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="alert alert-icon alert-primary" role="alert">
                                        <i class="fe fe-bell mr-2" aria-hidden="true"></i>{{lang.profile.saveQRcode}} 
                                    </div>
                                    <div class="form">
                                        <form class="d-flex justify-content-center" role="form">
                                            <img style="width:100%" class="user-qr-code" src="" alt="qr" name="qr-img">
                                        </form>
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="two-factor-code" :placeholder="lang.profile.codeFromApp" autocomplete="off">
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary btn-block j-activate-two-factor">{{lang.profile.active2FAS}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <div class="row align-items-center flex-row-reverse">
                    <div class="col-auto ml-lg-auto">
                        <div class="row align-items-center">
                            <div class="col-auto">
                                <a class="header-brand" href="">
                                    <img src="dist/img/logo.svg" class="header-brand-img" alt="tabler logo">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-auto mt-3 mt-lg-0 text-center">
                        Copyright © 2019 Holly Molly
                    </div>
                </div>
            </div>
        </footer>

        <!-- My Plugins -->
        <script src="dist/js/jquery-3.3.1.min.js"></script>
        <script src="dist/js/jquery.cookie.js"></script>
        <script src="dist/js/vue.min.js"></script>
        <script src="dist/js/component/lang-service.js"></script>
        <script src="dist/js/component/create-url.js"></script>
        <script src="dist/js/component/main-function.js"></script>
        <script src="dist/js/buttonLoader.js"></script>
        <script src="dist/js/bootstrap.bundle.min.js"></script>
        <script src="dist/js/notie.min.js"></script>
        <script src="dist/js/component/message.js"></script>
        <script src="dist/js/component/profile.js"></script>
        <script src="dist/js/load-image.all.min.js"></script>
        <script src="dist/js/component/load-headr.js"></script>

</body>

</html>