<!doctype html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#4188c9">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <link rel="icon" href="dist/img/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" type="image/x-icon" href="dist/img/favicon.ico" />
    <!-- Generated: 2018-04-16 09:29:05 +0200 -->
    <title>DuuDeeSport AS</title>

    <link rel="stylesheet" href="dist/css/fakeLoader.css">
    <link rel="stylesheet" href="dist/css/solid.min.css">
    <link rel="stylesheet" href="dist/css/fontawesome.min.css">
    <link rel="stylesheet" href="dist/css/fonts-googleapis.css">
    <link rel="stylesheet" href="dist/css/chart.min.css">

    <link rel="stylesheet" href="dist/css/dataTables.bootstrap4.css" />
    <link rel="stylesheet" href="dist/css/datatables.css" />
    <link rel="stylesheet" href="dist/css/notie.css" />
    <link rel="stylesheet" href="dist/css/dashboard.css" />
    <link rel="stylesheet" href="dist/css/tempusdominus-bootstrap-4.min.css" />
</head>

<body>
    <div id="fakeLoader">
        <!-- MUTLI SPINNER -->
        <div>
            <div class="lds-ripple">
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
    <div id="app" class="page">
        <div class="page-main">
            <div id="header-box" class="header py-4">
                <!--header-box.html-->
            </div>
            <div id="headerMenuCollapse" class="header collapse d-lg-flex p-0">
                <!--id="headerMenuCollapse"-->
                <!--menu-box.html-->
            </div>
            <div class="my-3 my-md-5">
                <div class="container">
                    <div class="page-header">
                        <h1 class="page-title">
                            {{lang.refferal.management}}
                        </h1>
                    </div>
                    <div class="row j-refferal-links">
                        <div class="col-12 col-md-12 j-referal-list">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">
                                        {{lang.refferal.table.title}}
                                        <button class="icon icon-sm ml-1 j-refresh">
                                            <i class="fe fe-refresh-cw"></i>
                                        </button>
                                    </h3>
                                    <div class="card-options">
                                        <button class="btn btn-outline-primary btn-sm j-open-add-box"
                                            data-toggle="modal" data-target="#add-refferal-link">
                                            <i class="fe fe-plus mr-2"></i>{{lang.create}}
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body padding0">
                                    <div class="dimmer table-responsive">
                                        <table id="table-referals"
                                            class="table table-outline table-vcenter text-nowrap card-table text-center">
                                            <thead>
                                                <tr>
                                                    <th class="w-1">{{lang.numberIcon}}</th>
                                                    <th>{{lang.refferal.table.name}}</th>
                                                    <th>{{lang.refferal.table.token}}</th>
                                                    <th>{{lang.refferal.table.type}}</th>
                                                    <th>{{lang.refferal.table.state}}</th>
                                                    <th>{{lang.refferal.table.channel}}</th>
                                                    <th>{{lang.options}}</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 j-reff-link-statistic collapse">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">
                                        {{lang.refferal.table.title}}
                                    </h3>
                                    <div class="card-options">
                                        <button class="btn btn-outline-primary btn-sm j-back">
                                            <i class="fe fe-arrow-left mr-2"></i>{{lang.back}}
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body padding0">
                                    <div class="dimmer table-responsive">
                                        <table id="reff-link-statistic"
                                            class="table table-outline table-vcenter text-nowrap card-table text-center">
                                            <thead>
                                                <tr>
                                                    <th class="w-1">{{lang.numberIcon}}</th>
                                                    <th>{{lang.refferal.table.name}}</th>
                                                    <th>{{lang.refferal.table.token}}</th>
                                                    <th>{{lang.refferal.table.type}}</th>
                                                    <th>{{lang.refferal.table.state}}</th>
                                                    <th>{{lang.refferal.table.channel}}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="j-tr collapse">
                                                    <td>
                                                        <span class="j-id"></span>
                                                    </td>
                                                    <td>
                                                        <span class="j-title"></span>
                                                    </td>
                                                    <td>
                                                        <a href="#" class="j-link j-full-link"></a>
                                                    </td>
                                                    <td>
                                                        <span class="j-type"></span>
                                                    </td>
                                                    <td>
                                                        <span class="j-state"></span>
                                                    </td>
                                                    <td>
                                                        <span class="j-channel"></span>
                                                        <div class="small text-muted j-price"></div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="card  card-collapsed">
                                <div class="card-header">
                                    <h3 class="card-title">
                                        {{lang.refferal.stats.filter.title}}
                                    </h3>
                                    <div class="card-options">
                                        <a href="#" class="card-options-collapse j-collapse-button"
                                            data-toggle="card-collapse">
                                            <i class="fe fe-chevron-up"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="card-body padding0">
                                    <form class="my-4">
                                        <div class='form-row col-12 j-watch-in-real-time'>
                                            <div class="col-md-4 form-group">
                                                <label class="custom-switch">
                                                    <span class="form-label ">{{lang.refferal.stats.filter.byAllTime}}
                                                    </span>
                                                    <input type="checkbox" name="real-time" class="custom-switch-input">
                                                    <span class="custom-switch-indicator ml-3"></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class='form-row col-12 j-period-for-stats'>
                                            <div class='col-md-6'>
                                                <div class="form-group">
                                                    <input type="text" class="form-control datetimepicker-input"
                                                        name="from-date" data-toggle="datetimepicker"
                                                        data-target=".j-period-for-stats [name='from-date']"
                                                        :placeholder="lang.refferal.stats.filter.to" autocomplete="off">
                                                </div>
                                            </div>
                                            <div class='col-md-6'>
                                                <div class="form-group">
                                                    <input type="text" class="form-control datetimepicker-input"
                                                        name="to-date" data-toggle="datetimepicker"
                                                        data-target=".j-period-for-stats [name='to-date']"
                                                        :placeholder="lang.refferal.stats.filter.from"
                                                        autocomplete="off">
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="card-footer text-right">
                                    <div class="d-flex">
                                        <button
                                            class="btn btn-primary ml-auto j-filter-stats-save">{{lang.refferal.stats.filter.updateStats}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 j-reff-link-statistic collapse">
                            <div class="card">
                                <div class="card-body" id="charts-stats">
                                    <canvas class="j-stats"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 j-reff-link-statistic collapse">
                            <div class="card">
                                <div class="card-body" id="charts-subscribes">
                                    <canvas class="j-subscribes"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 j-reff-link-statistic collapse">
                            <div class="card">
                                <div class="card-body" id="channels-subscribes">
                                    <canvas class="j-channels-subscribes"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 j-reff-link-statistic collapse">
                            <div class="card">
                                <div class="card-body">
                                    <table class="table card-table table-bordered text-center"
                                        id="table-channels-subscribes">
                                        <thead>
                                            <tr>
                                                <th>{{lang.numberIcon}}</th>
                                                <th class="text-left" style="background:#fff" width="25%">
                                                    {{lang.refferal.stats.channelsTable.channel}}</th>
                                                <th>{{lang.refferal.stats.channelsTable.newSubscribes}}</th>
                                                <th>{{lang.refferal.stats.channelsTable.returnSubscribes}}</th>
                                                <th>{{lang.refferal.stats.channelsTable.totalReqSubscribes}}</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 j-reff-link-activity collapse">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">
                                        {{lang.refferal.table.title}}
                                    </h3>
                                    <div class="card-options">
                                        <button class="btn btn-outline-primary btn-sm j-back">
                                            <i class="fe fe-arrow-left mr-2"></i>{{lang.back}}
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body padding0">
                                    <div class="dimmer table-responsive">
                                        <table id="reff-link-activity"
                                            class="table table-outline table-vcenter text-nowrap card-table text-center">
                                            <thead>
                                                <tr>
                                                    <th class="w-1">{{lang.numberIcon}}</th>
                                                    <th>{{lang.refferal.table.name}}</th>
                                                    <th>{{lang.refferal.table.token}}</th>
                                                    <th>{{lang.refferal.table.type}}</th>
                                                    <th>{{lang.refferal.table.state}}</th>
                                                    <th>{{lang.refferal.table.channel}}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="j-tr collapse">
                                                    <td>
                                                        <span class="j-id"></span>
                                                    </td>
                                                    <td>
                                                        <span class="j-title"></span>
                                                    </td>
                                                    <td>
                                                        <a href="#" class="j-link j-full-link"></a>
                                                    </td>
                                                    <td>
                                                        <span class="j-type"></span>
                                                    </td>
                                                    <td>
                                                        <span class="j-state"></span>
                                                    </td>
                                                    <td>
                                                        <span class="j-channel"></span>
                                                        <div class="small text-muted j-price"></div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="card  card-collapsed">
                                <div class="card-header">
                                    <h3 class="card-title">
                                        {{lang.refferal.activity.filter}}
                                    </h3>
                                    <div class="card-options">
                                        <a href="#" class="card-options-collapse j-collapse-button"
                                            data-toggle="card-collapse">
                                            <i class="fe fe-chevron-up"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="card-body padding0">
                                    <form class="my-4">
                                        <div class='form-row col-12 j-period-for-activity'>
                                            <div class='col-md-6'>
                                                <div class="form-group">
                                                    <label class="form-label">С</label>
                                                    <input type="text" class="form-control datetimepicker-input"
                                                        name="from-date" data-toggle="datetimepicker"
                                                        data-target=".j-period-for-activity [name='from-date']"
                                                        :placeholder="lang.refferal.stats.filter.from"
                                                        autocomplete="off">
                                                </div>
                                            </div>
                                            <div class='col-md-6'>
                                                <div class="form-group">
                                                    <label class="form-label">По</label>
                                                    <input type="text" class="form-control datetimepicker-input"
                                                        name="to-date" data-toggle="datetimepicker"
                                                        data-target=".j-period-for-activity [name='to-date']"
                                                        :placeholder="lang.refferal.stats.filter.to" autocomplete="off">
                                                </div>
                                            </div>
                                        </div>
                                        <div class='form-row col-12'>
                                            <div class="col-md-6 ">
                                                <div class="form-group">
                                                    <label class="form-label">Статус события</label>
                                                    <input type="text" class="form-control j-tracks-status" value=""
                                                        disabled>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-label">Канал</label>
                                                    <input type="text" class="form-control j-tracks-channel" value=""
                                                        disabled>
                                                </div>
                                            </div>
                                        </div>
                                        <div class='form-row col-12'>
                                            <div class="col-md-6 ">
                                                <div class="form-group">
                                                    <label class="form-label">Пользователь</label>
                                                    <input type="text" class="form-control j-tracks-user" value=""
                                                        disabled>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-label">Впервые у нас</label>
                                                    <input type="text" class="form-control j-tracks-isNewUser" value=""
                                                        disabled>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="card-footer text-right">
                                    <div class="d-flex">
                                        <button
                                            class="btn btn-primary ml-auto j-filter-activity-save">{{lang.refferal.stats.filter.updateStats}}</button>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">
                                        {{lang.refferal.activity.table.title}}
                                        <button class="icon icon-sm ml-1 j-refresh-activity">
                                            <i class="fe fe-refresh-cw"></i>
                                        </button>
                                    </h3>
                                </div>
                                <div class="card-body padding0">
                                    <div class="dimmer table-responsive">
                                        <table id="table-activity"
                                            class="table table-outline table-vcenter text-nowrap card-table text-center">
                                            <thead>
                                                <tr>
                                                    <th class="w-1">{{lang.numberIcon}}</th>
                                                    <th>{{lang.refferal.activity.table.time}}</th>
                                                    <th>{{lang.refferal.activity.table.user}}</th>
                                                    <th>{{lang.refferal.activity.table.isNewUser.title}}</th>
                                                    <th>{{lang.refferal.activity.table.trackStatus.title}}</th>
                                                    <th>{{lang.refferal.activity.table.channel}}</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--MODAL ADD REFFERAL LINK-->
        <div id="add-refferal-link" class="modal fade" aria-labelledby="add-refferal-link" style="z-index: 15;">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">{{lang.refferal.modalAdd.title}}</h4>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form role="form">
                            <div class="form-group">
                                <label class="form-label">
                                    {{lang.refferal.modalAdd.name}}
                                    <span class="form-required">*</span>
                                </label>
                                <div class="input-group">
                                    <input type="text" class="form-control j-title-link" maxlength="50">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label">
                                    {{lang.refferal.modalAdd.type}}
                                    <span class="form-required">*</span>
                                </label>
                                <select class="form-control j-select-types">
                                    <option value=""></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="form-label">
                                    {{lang.refferal.modalAdd.channel}}
                                    <span class="form-required">*</span>
                                </label>
                                <select class="form-control j-select-channels">
                                    <option value=""></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="form-label">
                                    {{lang.refferal.modalAdd.button}}
                                    <span class="form-required">*</span>
                                </label>
                                <select class="form-control j-select-buttons">
                                    <option value=""></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="form-label">
                                    {{lang.refferal.modalAdd.link}}
                                    <span class="form-required">*</span>
                                </label>
                                <div class="input-group">
                                    <input type="text" class="form-control j-generate-link-input disabled" disabled>
                                    <span class="input-group-append">
                                        <button class="btn btn-primary j-generate-reff-link"
                                            type="button">{{lang.generateButton}}</button>
                                    </span>
                                </div>
                                <small class="form-text text-muted"><a href="#" class="j-full-link"></a></small>
                            </div>
                            <div class="form-group">
                                <label class="form-label">{{lang.refferal.modalAdd.comment}}</label>
                                <textarea class="form-control" name="description" rows="5"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn btn-primary j-create">
                            {{lang.create}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--MODAL EDIT REFFERAL LINK-->
        <div id="edit-refferal-link" class="modal fade" aria-labelledby="edit-refferal-link" style="z-index: 15;">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">{{lang.refferal.modalCreate.title}}</h4>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form role="form">
                            <div class="form-group">
                                <label class="form-label">
                                    {{lang.refferal.modalCreate.name}}
                                    <span class="form-required">*</span>
                                </label>
                                <div class="input-group">
                                    <input type="text" class="form-control j-title-link" maxlength="50">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label">
                                    {{lang.refferal.modalCreate.type}}
                                    <span class="form-required">*</span>
                                </label>
                                <select class="form-control j-select-types" disabled>
                                    <option value=""></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="form-label">
                                    {{lang.refferal.modalCreate.channel}}
                                    <span class="form-required">*</span>
                                </label>
                                <select class="form-control j-select-channels" disabled>
                                    <option value=""></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="form-label">
                                    {{lang.refferal.modalCreate.button}}
                                    <span class="form-required">*</span>
                                </label>
                                <select class="form-control j-select-buttons" disabled>
                                    <option value=""></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="form-label">
                                    {{lang.refferal.modalCreate.link}}
                                    <span class="form-required">*</span>
                                </label>
                                <div class="input-group">
                                    <small class="form-text text-muted"><a href="#" class="j-full-link"></a></small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label">{{lang.refferal.modalCreate.comment}}</label>
                                <textarea class="form-control" name="description" rows="5"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn btn-primary j-add">
                            {{lang.edit}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <div class="row align-items-center flex-row-reverse">
                    <div class="col-auto ml-lg-auto">
                        <div class="row align-items-center">
                            <div class="col-auto">
                                <a class="header-brand" href="">
                                    <img src="dist/img/logo.svg" class="header-brand-img" alt="tabler logo">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-auto mt-3 mt-lg-0 text-center">
                        Copyright © 2019 Holly Molly
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <!-- My Plugins -->

    <script src="dist/js/jquery-3.3.1.min.js"></script>
    <script src="dist/js/jquery.cookie.js"></script>
    <script src="dist/js/vue.min.js"></script>
    <script src="dist/js/component/lang-service.js"></script>
    <script src="dist/js/jquery.inputmask.bundle.min.js"></script>
    <script src="dist/js/moment-with-locales.min.js"></script>
    <script src="dist/js/jquery.dataTables.min.js"></script>
    <script src="dist/js/dataTables.bootstrap4.min.js"></script>
    <script src="dist/js/component/create-url.js"></script>
    <script src="dist/js/component/main-function.js"></script>
    <script src="dist/js/buttonLoader.js"></script>
    <script src="dist/js/component/message.js"></script>
    <script src="dist/js/chart.min.js"></script>

    <script src="dist/js/bootstrap.bundle.min.js"></script>
    <script src="dist/js/notie.min.js"></script>
    <script src="dist/js/component/utc-time-zones.js"></script>
    <script src="dist/js/component/refferals-management.js"></script>
    <script src="dist/js/component/load-headr.js"></script>

    <script src="dist/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="dist/js/selectize.min.js"></script>
    <script src="dist/js/component/selectize-function.js"></script>
    <script src="dist/js/core.js"></script>

</body>

</html>