<!doctype html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Language" content="en" />
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#4188c9">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <link rel="icon" href="dist/img/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" type="image/x-icon" href="dist/img/favicon.ico" />
    <!-- Generated: 2018-04-16 09:29:05 +0200 -->
    <title>DuuDeeSport AS</title>
    <link rel="stylesheet" href="dist/css/fakeLoader.css">
    <link rel="stylesheet" href="dist/css/solid.min.css">
    <link rel="stylesheet" href="dist/css/fontawesome.min.css">
    <link rel="stylesheet" href="dist/css/fonts-googleapis.css">

    <link rel="stylesheet" href="dist/css/dataTables.bootstrap4.css" />
    <link rel="stylesheet" href="dist/css/datatables.css" />
    <link rel="stylesheet" href="dist/css/notie.css" />
    <link rel="stylesheet" href="dist/css/dashboard.css" />
</head>

<body>
    <div id="fakeLoader">
        <!-- MUTLI SPINNER -->
        <div>
            <div class="lds-ripple">
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
    <div id="app" class="page">
        <div class="page-main">
            <div id="header-box" class="header py-4">
                <!--header-box.html-->
            </div>
            <div id="headerMenuCollapse" class="header collapse d-lg-flex p-0">
                <!--id="headerMenuCollapse"-->
                <!--menu-box.html-->
            </div>
            <div class="my-3 my-md-5">
                <div class="container">
                    <div class="page-header">
                        <h1 class="page-title">
                            {{lang.systemUser.title}}
                        </h1>
                        <div class="page-options d-flex">
                            <button class="btn btn-primary j-back-to-list collapse">
                                <i class="fe fe-arrow-left mr-2"></i>{{lang.back}}
                            </button>
                            <button class="btn btn-primary j-open-add-box" data-box="departments-list">
                                <i class="fe fe-plus mr-2"></i>
                                {{lang.systemUser.add}}
                            </button>
                        </div>
                    </div>
                    <div class="row j-users-list">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">
                                        {{lang.systemUser.table.title}}
                                        <a href="#" class="icon icon-sm ml-1 j-refresh">
                                            <i class="fe fe-refresh-cw"></i>
                                        </a>
                                    </h3>
                                </div>
                                <div class="card-body padding0">
                                    <div class="dimmer table-responsive">
                                        <table id="system-user-table"
                                            class="table table-hover table-outline table-vcenter text-nowrap card-table text-center"
                                            style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th class="w-1">
                                                        <i class="icon-people"></i>
                                                    </th>
                                                    <th class="text-left" style="max-width: 32px;">{{lang.systemUser.table.login}}</th>
                                                    <th></th>
                                                    <th>{{lang.systemUser.table.state}}</th>
                                                    <!-- <th>{{lang.systemUser.table.lastAuthorization}}</th> -->
                                                    <th>{{lang.systemUser.table.twoFactor}}</th>
                                                    <th>{{lang.systemUser.table.actions}}</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row j-management-user collapse">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">{{lang.systemUser.managementUser.addTitle}}</h3>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-auto j-avatar-row">
                                                    <img class="avatar avatar-xl" src='dist/img/default-user-icon.jpg'
                                                        name='avatar-img'
                                                        onerror="this.src='dist/img/default-user-icon.jpg';" />
                                                </div>
                                                <div class="col">
                                                    <div class="form-group">
                                                        <div class="form-label">
                                                            {{lang.systemUser.managementUser.picture}}
                                                        </div>
                                                        <div class="custom-file">
                                                            <input type="file" class="custom-file-input"
                                                                name="example-file-input-custom">
                                                            <a class="custom-file-label">{{lang.chooseFile}}</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-6">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12">
                                                    <div class="form-group">
                                                        <label class="form-label">
                                                            {{lang.systemUser.managementUser.login}}
                                                            <span class="form-required">*</span>
                                                        </label>
                                                        <input type="text" class="form-control" name="login"
                                                            :placeholder="lang.systemUser.managementUser.placeholder.login"
                                                            autocomplete="off" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-12">
                                                    <div class="form-group">
                                                        <label class="form-label">
                                                            {{lang.systemUser.managementUser.email}}</label>
                                                        <input type="text" class="form-control" name="email"
                                                            :placeholder="lang.systemUser.managementUser.placeholder.email"
                                                            autocomplete="off" data-inputmask="'alias': 'email'" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-12">
                                                    <div class="form-group">
                                                        <label
                                                            class="form-label">{{lang.systemUser.managementUser.newPassword}}
                                                            <span class="form-required">*</span>
                                                        </label>
                                                        <input type="password" name="new-password" class="form-control"
                                                            autocomplete="new-password">
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-12">
                                                    <div class="form-group">
                                                        <label class="form-label">
                                                            {{lang.systemUser.managementUser.reenterPassword}}
                                                            <span class="form-required">*</span>
                                                        </label>
                                                        <input type="password" name="reenter-password"
                                                            class="form-control" autocomplete="new-password">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-sm-6 col-md-6">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12">
                                                    <div class="form-group">
                                                        <label class="form-label">
                                                            {{lang.systemUser.managementUser.fullName}}
                                                        </label>
                                                        <input type="text" class="form-control" name="full-name"
                                                            :placeholder="lang.systemUser.managementUser.placeholder.fullName"
                                                            autocomplete="off" />
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 col-md-6">
                                                    <div class="form-group">
                                                        <label class="form-label">
                                                            {{lang.systemUser.managementUser.role.title}} <span
                                                                class="form-required">*</span>
                                                        </label>
                                                        <select class="custom-select" name="role">
                                                            <option value="administrator" selected>
                                                                {{lang.systemUser.managementUser.role.administrator}}
                                                            </option>
                                                            <option value="manager">
                                                                {{lang.systemUser.managementUser.role.manager}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 col-md-6">
                                                    <div class="form-group">
                                                        <label class="form-label">
                                                            {{lang.systemUser.managementUser.lang}}
                                                        </label>
                                                        <select class="custom-select" name="lang-system"></select>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-12 j-two-factor-input collapse">
                                                    <div class="form-group">
                                                        <label class="form-label">
                                                            {{lang.systemUser.managementUser.active2FA}}
                                                        </label>
                                                        <div class="custom-controls-stacked">
                                                            <label
                                                                class="custom-control custom-radio custom-control-inline">
                                                                <input type="radio" class="custom-control-input"
                                                                    name="is-use-two-fa" value="true" checked="">
                                                                <span class="custom-control-label">{{lang.systemUser.managementUser.On2FA}}</span>
                                                            </label>
                                                            <label
                                                                class="custom-control custom-radio custom-control-inline">
                                                                <input type="radio" class="custom-control-input"
                                                                    name="is-use-two-fa" value="false">
                                                                <span class="custom-control-label">{{lang.systemUser.managementUser.Off2FA}}</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-12 j-two-factor-input collapse">
                                                    <div class="form-group">
                                                        <label class="form-label">
                                                            {{lang.systemUser.managementUser.key2FA}}
                                                        </label>
                                                        <button class="btn btn-success j-btn-qrcode-two-factor"
                                                            type="button">{{lang.generateButton}}</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer text-right">
                                    <!-- <div class=""> -->
                                    <!-- <button type="submit" class="btn btn-danger j-drop-two-factor collapse" data-toggle="modal"
                                        data-target="#modal-drop-two-factor">
                                        {{lang.systemUser.managementUser.dropTwoFactorAuth}}
                                    </button> -->
                                    <!-- </div> -->
                                    <!-- <div class="d-flex justify-content-end"> -->
                                    <button type="submit" class="btn btn-primary j-add-system-user">
                                        {{lang.systemUser.managementUser.btnAdd}}
                                    </button>
                                    <!-- </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="modal-delete-user" class="modal fade" aria-labelledby="modal-delete" style="z-index: 15;">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">{{lang.systemUser.deleteUser}}</h4>
                                <button class="close" type="button" data-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div v-html="lang.removeUser"></div>
                                <form role="form">
                                    <div class="form-group">
                                        <input class="form-control j-input-type" type="text">
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn btn-gray j-btn-delete-user" disabled>
                                    {{lang.del}}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="modal-drop-two-factor" class="modal fade" aria-labelledby="modal-delete" style="z-index: 15;">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">{{lang.dropTwoFactor}}</h4>
                                <button class="close" type="button" data-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div v-html="lang.removeTwoFactor"></div>
                                <form role="form">
                                    <div class="form-group">
                                        <input class="form-control j-input-type" type="text">
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn btn-gray j-btn-drop-two-factor-user" disabled>
                                    {{lang.del}}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal -->
                <div id="modal-qrcode-two-factor" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog"
                    aria-labelledby="generateQrcodeTwoFactor" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">{{lang.profile.QRcodeFor2FAS}}</h4>
                                <button type="button" data-dismiss="modal" aria-label="Close" class="close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="alert alert-icon alert-primary" role="alert">
                                    <i class="fe fe-bell mr-2" aria-hidden="true"></i>{{lang.profile.mobilePhone}} 
                                </div>
                                <div class="form">
                                    <form class="d-flex justify-content-center" role="form">
                                        <img style="width:100%" class="user-qr-code" src="" alt="qr" name="qr-img">
                                    </form>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary btn-block j-activate-two-factor collapse">{{lang.profile.active2FAS}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <div class="row align-items-center flex-row-reverse">
                    <div class="col-auto ml-lg-auto">
                        <div class="row align-items-center">
                            <div class="col-auto">
                                <a class="header-brand" href="">
                                    <img src="dist/img/logo.svg" class="header-brand-img" alt="tabler logo">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-auto mt-3 mt-lg-0 text-center">
                        Copyright © 2019 Holly Molly
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <!-- My Plugins -->
    <script src="dist/js/jquery-3.3.1.min.js"></script>
    <script src="dist/js/jquery.cookie.js"></script>
    <script src="dist/js/vue.min.js"></script>
    <script src="dist/js/component/lang-service.js"></script>
    <script src="dist/js/jquery.inputmask.bundle.min.js"></script>
    <script src="dist/js/jquery.dataTables.min.js"></script>
    <script src="dist/js/dataTables.bootstrap4.min.js"></script>
    <script src="dist/js/component/create-url.js"></script>
    <script src="dist/js/component/main-function.js"></script>
    <script src="dist/js/moment-with-locales.min.js"></script>
    <script src="dist/js/buttonLoader.js"></script>
    <script src="dist/js/bootstrap.bundle.min.js"></script>
    <script src="dist/js/notie.min.js"></script>
    <script src="dist/js/component/message.js"></script>

    <script src="dist/js/component/system-users.js"></script>
    <script src="dist/js/load-image.all.min.js"></script>
    <script src="dist/js/component/load-headr.js"></script>

</body>

</html>