<div class="container">
    <div class="row align-items-center">
        <div class="col-lg order-lg-first">
            <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
                <li class="nav-item j-menu-btn-dropdown">
                    <a href="javascript:void(0)" class="nav-link" data-toggle="dropdown">
                        -
                    </a>
                    <div class="dropdown-menu dropdown-menu-arrow">
                        <a href="#" class="dropdown-item ">-</a>
                    </div>
                </li>
                <li class="nav-item j-menu-btn">
                    <a href="#" class="nav-link">
                        -
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>