<!DOCTYPE html>
<html>

<body>

    <h1>My First Heading</h1>

    <p>My first paragraph.</p>

    <form action="https://api.any.cash/_handler/eapi" method="post" target='_self' id='redirect_form'>
        <input type="text" name="method" value={{method}} />
        <input type="text" name="amount" value={{amount}} />
        <input type="text" name="callback_url" value={{callback_url}} />
        <input type="text" name="externalid" value={{externalid}} />
        <input type="text" name="in_currency" value={{in_currency}} />
        <input type="text" name="payway" value={{payway}} />
        <input type="text" name="redirect_url" value={{redirect_url}} />
        <input type="text" name="sign" value={{sign}} />
        <input type="text" name="payway" value={{payway}} />
        <input type="text" name="userdata" value={{userdata}} />
        <input type="text" name="merchant" value={{merchant}} />

        <button type="submit">Send your message</button>
    </form>
    <script type="text/javascript">
        window.onload = function () {
            console.log('test');
            document.forms["redirect_form"].submit();
        }
    </script>
</body>

</html>